.dlgContainer{
    -fx-background-color: #25333D;
}
.dialogLabel{
    -fx-text-fill: white;
    -fx-pref-width: 400;
    -fx-font-size: 18;
    -fx-padding: 20px;
    -fx-border-color: #489FB5;
    -fx-border-width: 0px 0px 1px 0px;
}