.dialogContainer{
}
.dialogLabel{
    -fx-text-fill: black;
    -fx-font-size: 18;
}
.btnContainer{
    -fx-alignment: center;
}

.btn{
    -fx-pref-width: 140;
    -fx-pref-height: 40;
    -fx-font-size: 20;
    -fx-background-radius: 20;
}
.btnCreate{
    -fx-background-color: #489FB5;
    -fx-text-fill: white;
}
.btnCancel{
}
