.main {
    -fx-padding: 30px;
    -fx-max-width: infinity;
    -fx-vgap: 25;
    -fx-hgap: 25;
}

.panel-container {
    -fx-padding: 25px;
    -fx-pref-height: 200px;
    -fx-max-width: infinity;
    -fx-background-radius: 10px;
}

.panel-title {
    -fx-font-size: 28;
    -fx-font-family: Raleway-Semi-Bold;
    -fx-font-weight: bold;
    -fx-text-fill: #f2f2f2;
}