
.main{
    -fx-background-color: #084C61;
}
.text{
    -fx-text-fill: white;
}
.top{
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
}
.search{
    -fx-background-radius: 30;
}
.bucket{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-text-fill: black;
}
.task{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 10;
}
.addTask{
    -fx-background-color: #489FB5;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.scroll-bucket-container,
.scroll-bucket-container > .viewport {
    -fx-background-color: transparent;
}

