@font-face {
    font-family: Raleway;
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: Raleway-Semi-Bold;
    src: url("../fonts/Raleway-Bold.ttf");
}

* {
    -fx-font-family: Raleway;
}

.main-container {
    -fx-background-color: #489FB5;
    -fx-padding: 10px;
    -fx-spacing: 25px;
}

.logo {
    -fx-text-fill: #fff;
    -fx-font-family: Raleway-Semi-Bold;
    -fx-font-weight: bold;
    -fx-font-size: 72px;
}

.nav-btn {
    -fx-padding: 10px 20px;
    -fx-max-width: infinity;
    -fx-alignment: center-left;
    -fx-font-size: 24px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-fill: #f2f2f2;
    -fx-graphic: url("../images/white-circle.png");
    -fx-graphic-text-gap: 10px;
    -fx-background-color: none;
}

.nav-item {
    -fx-padding: 10px 20px;
    -fx-max-width: infinity;
    -fx-font-size: 20px;
    -fx-text-fill: #f2f2f2;
}


.selected {
    -fx-background-color: rgba(100, 170, 190, 1);
}

.sub-container {
    -fx-spacing: 15px;
    -fx-padding: 10px 0;
}

.sub-container-title {
    -fx-font-size: 20px;
    -fx-text-fill: #f2f2f2;
    -fx-font-family: Raleway-Semi-Bold;
    -fx-font-weight: bold;
}

.footer-container {

}

.footer-sub-container {
    -fx-max-height: infinity;
}


.footer-btn {
    -fx-background-color: none;
    -fx-graphic: url("../images/white-circle.png");
}